@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pattern {
    background: radial-gradient(circle at 40% 40%, #2962f3 25%, transparent 26%),radial-gradient(circle at 60% 60%, #2962f380 25%, transparent 26%);
        background-size: 4em 4em;
        background-color: #ffffff;
        opacity: 1
    }

}